Type Data Numbers:

Integer

The integer data type is a numeric data type that holds integers. For example the numbers 1,2,3 and so on. So that every variable that has an integer value, it will be categorized as an integer.

Complex

Almost the same as the integer data type, it's just that the float data type is used for variables that have a fractional / decimal value. The float data type is also included in the numeric data type because this data type stores fractional numbers or also known as real numbers. Separate decimal numbers using a period (.).

In [ ]:
#Number
#type data Integer
length = 10
print(length)
type(length)

10

int

In [ ]:
#type data Complex
width = 5.5
print(width)
type(width)

5.5

float

#String

Strings are sequences of character data. The string type in Python is called str.

String literals may be delimited using either single or double quotes. All the characters between the opening delimiter and matching closing delimiter are part of the string.

In [ ]:
#String with single quote
X = 'I am from Indonesia'
print(X)

I am from Indonesia

In [ ]:
#String with double quotes
Y = "I am Studying at MyEduSolve"
print(Y)

I am Studying at MyEduSolve

A string in Python can contain as many characters, the only limit is your machineâ€™s memory resources. A string can also be empty.

In [ ]:
Z = ''
print(Z)

You can't use a quote character as part of the string itself. If you open the string with a single quote, Python will assume the next single quote as the closing delimiter.

In [ ]:
#Wrong example
#String_1 = 'in this string I will use a single quote (') character'
#print(String_1)

#If we run this code, it can be syntax error

If you want to include either type of quote character within the string, the simplest way is to delimit the string with the other type. If you want to use single quote in your string, use double quote as your delimiter.

In [ ]:
#Use single quote in string with double quote delimiter
string_2 = "I want to be a data scientist, so I'll start to learn Python"
print(string_2)

I want to be a data scientist, so I'll start to learn Python

In [ ]:
#Use double quotes in string with single quote delimiter
string_3 = 'Andrew McAfee once said, "The world is one big data problem."'
print(string_3)

Andrew McAfee once said, "The world is one big data problem."

**Triple-Quoted Strings**

Triple-quoted strings are delimited by matching groups of three single quotes or three double quotes. You can use triple-quoted string to create **multiline string**.

In [ ]:
#Triple-quoted string
mul_string = """This is a
multiline string.
You can create many lines
in one time"""

print(mul_string)

This is a
multiline string.
You can create many lines
in one time

**Escape Sequences in Strings**

If you want to interpret a character or sequence of characters within a string a differently, you can accomplish that using backslash character.

For example, in string, if you want to put a sentence in new line without using enter, you can use backslash+n.

In [ ]:
#multiline string with backslash+n
mul_string2 = "This is \nanother multiline string. \nBut this time, \nI don't use triple-quoted string."
print(mul_string2)

This is
another multiline string.
But this time,
I don't use triple-quoted string.

#Boolean

Boolean is a datatype that will return the value of "True" or "False". This datatype is also known as logical data type due to its capability to solve logical problems

In [ ]:
#Basic example of boolean

A = True #return the value of "True"
B = False #return the value of "False"
print(str(A) + " " + str(type(A))) #type() is used to determine the object's type while str() is used to convert boolean datatype to string
print(str(B) + " " + str(type(B)))

True <class 'bool'>
False <class 'bool'>

Boolean can also be used to determine the comparison between two values as the example below will shown

In [ ]:
print(str(3>1)) #these line return the value of "True" 
print(str(3<1))#these line return the value of "False"

True
False

The above cell shows that the boolean datatype are capable to determine whether three is a bigger value than one. If we run the cell the debug will automatically determine the boolean value. Boolean can also be used to determine the comparison for string data type

In [ ]:
#Comparison for String
print(str("Code"=="Code"))
print(str("Tensorflow"!="Keras"))

True
True

Another capability of boolean data type is to determine logical problem as the example below will shown

In [ ]:
#logical operation
print(str(2>0 or 1>3))
print(str(2>0 and 1>3))
print(str(not(2<0)))

True
False
True

Boolean can also use "is" and "in" operator to solve logical problem

In [ ]:
#"in" operator
print(str("e" in "MyEduSolve"))

True

In [ ]:
#is operator
x = [2,3]
y = x

x is y

True